<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#page-top">Portfolio</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                  <a href="#page-top"></a>
              </li>
              <li class="page-scroll">
                <a href="#about">About</a>
              </li>
              <li class="page-scroll">
                  <a href="#project">Projects</a>
              </li>
              
              <li class="page-scroll">
                  <a href="#contact">Contact</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

      
  <header id="page-top">
    <div class="container-fluid ">
        <div class="row parallax">
            <div class="col-lg-12" id="page-top">
                <img class="img-responsive img-circle" src="../assets/images/amar.PNG">
                <div class="middle">
                    <div class="text">Amar Bathwal</div>
                </div>
                <div class="intro-text">
                    <span class="name"><teximate [text]="title"
                      [effect] = "options1"
                      [hover]="hover1"></teximate>
                    </span>
                    <hr class="star-light">
                    <p class="skills"><teximate [text]="text"
                      [effect] = "options"
                      [hover]="hover"></teximate></p>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<div class="content-wrapper">
  <section class="primary header" id="about">
        <div class="left">
            <div class="caption">
                <h2 class="title display-3">About</h2>
                <hr class="star-light">
                <p class="text">
                    Pursuing B.Tech in Electronic And Communication. 
                    I really love to build Web-Application and try out new design for better user interaction. 
                    I want to build my own frameworks so that other can able to use it.
                </p>
            </div>	
        </div>
  </section>
  <section class="success header" id="project">
        <div class="center">
            <div class="caption">
                <h2 class="title display-3">Projects</h2>

            </div>
            <hr class="star-light">
            
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <div class="panel-group">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <button class="btn btn-info btn-responsive" data-toggle="modal" data-target="#myModal">Know More</button>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body"><img class="project-image img-responsive" src="../assets/images/attendanceSystem.PNG"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <div class="panel-group">
                            <div class="panel panel-info">
                                <div class="panel-body"><button class="btn btn-info btn-responsive" data-toggle="modal" data-target="#myModal1" >Know More</button></div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body"><img class="project-image img-responsive" src="../assets/images/hackerCamp.PNG"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 col-xs-6">
                        <div class="panel-group">
                            <div class="panel panel-info">
                                <div class="panel-body"><button class="btn btn-info  btn-responsive" data-toggle="modal" data-target="#myModal2">Know More</button></div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body"><img class="project-image img-responsive" src="../assets/images/tetris.PNG"></div>
                            </div>
                        </div>
                    </div>                    
                </div> 
            </div>	
        </div>
    </section>
    
    <section class="success header" id="contact">
            <div class="right">
                <div class="caption">
                    <h2 class="title display-3">Contact</h2>
                    <hr class="star-light">
                    <form id="contact-form" [formGroup]="userDetail" (ngSubmit)="onSubmit()">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.firstName }">
                                            <label for="form_name">Firstname *</label>
                                            <input id="form_name" type="text" formControlName="firstName" name="firstName" 
                                            class="form-control" placeholder="Please enter your firstname *" required="required" 
                                            autocomplete="off" data-error="Firstname is required.">
                                            <span class="help-block" *ngIf="displayMessage.firstName">
                                                    {{displayMessage.firstName}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.lastName }">
                                            <label for="form_lastname">Lastname *</label>
                                            <input id="form_lastname" type="text" formControlName="lastName" name="lastName" 
                                            class="form-control" placeholder="Please enter your lastname *" required="required" 
                                            data-error="Lastname is required." autocomplete="off">
                                            <span class="help-block" *ngIf="displayMessage.lastName">
                                                    {{displayMessage.lastName}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.email_id }">
                                            <label for="form_email" >Email *</label>
                                            <input id="form_email" type="email" name="email_id" formControlName="email_id" 
                                            class="form-control" placeholder="Please enter your email *" required="required" 
                                            data-error="Valid email is required." autocomplete="off">
                                            <span class="help-block" *ngIf="displayMessage.email_id">
                                                    {{displayMessage.email_id}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.contact }">
                                            <label for="form_phone">Phone</label>
                                            <input id="form_phone" type="tel" name="contatt" formControlName="contact" 
                                            class="form-control" placeholder="Please enter your phone"
                                            autocomplete="off">
                                            <span class="help-block" *ngIf="displayMessage.contact">
                                                    {{displayMessage.contact}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" [ngClass]="{'has-error': displayMessage.message }">
                                            <label for="form_message">Message *</label>
                                            <textarea id="form_message" name="message" class="form-control" formControlName="message" 
                                            placeholder="Message for me *" rows="4" required="required" 
                                            data-error="Please,leave us a message." autocomplete="off"></textarea>
                                            <span class="help-block" *ngIf="displayMessage.message">
                                                    {{displayMessage.message}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" [disabled]="!userDetail.valid" class="btn btn-success btn-send" value="Send message">
                                    </div>
                                </div>
                            </div>
                        
                        </form>	
                </div>	
            </div>
            
            <div class="left">
              <img src="https://raw.githubusercontent.com/alphadsy/alpha-ui/master/images/laptop.png" alt="" class="img-fluid">
                <p class="imageTxt">HELLO, {{userDetail.value.firstName | uppercase}} {{userDetail.value.lastName | uppercase}} <span class="blink_me">|</span>  </p>
            </div>
    </section>
    <div class="text-center center-block footer">
            <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
</div>